@import url("https://fonts.googleapis.com/css2?family=Piedra&display=swap");
body{
    background-color: black;
    overflow-x: hidden!important;
}

.image-responsive{
    padding: 10px;
    border-bottom: 2px white solid;
}
.ball{
    /* box-shadow: 0 0 2px #fff, 0 0 10px #fff, 0 0 20px #0ba9ca, 0 0 30px #0ba9ca,
    0 0 40px #0ba9ca, 0 0 50px #0ba9ca; */
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
    border-radius: 50%;
    background-size: contain;
    animation: blink 1s ease-in-out infinite alternate,resize 1s ease-in-out infinite alternate-reverse;
}
  @keyframes blink {
    from {
        box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #FF1177, 0 0 70px #FF1177, 0 0 80px #FF1177, 0 0 100px #FF1177, 0 0 150px #FF1177;
      }
      to {
        box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #FF1177, 0 0 35px #FF1177, 0 0 40px #FF1177, 0 0 50px #FF1177, 0 0 75px #FF1177;
      }
  }
@keyframes rotate{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(36000deg);
    }
}
@keyframes resize{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}
